In [1]:
import numpy as np
import pandas as pd

In [2]:
labels = ['a', 'b', 'c']

In [3]:
mylist = [10,20,30]

In [4]:
arr = np.array(mylist)

In [5]:
d = {'a':10, 'b':20, 'c':30}

In [6]:
pd.Series(mylist)

0    10
1    20
2    30
dtype: int64

In [7]:
pd.DataFrame(labels, mylist)

    0
10  a
20  b
30  c

In [8]:
pd.concat(labels, mylist)

TypeError: cannot concatenate object of type '<class 'str'>'; only Series and DataFrame objs are valid