In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

/home/ma/.bin/anaconda3/envs/kaggle/lib/python3.7/importlib/_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)

In [2]:
data = pd.read_csv('../code/momo.csv')

In [3]:
data.head()

,Unnamed: 0,米ドル,英ポンド,ユーロ,カナダドル,スイスフラン,スウェーデンクローネ,デンマーククローネ,ノルウェークローネ,オーストラリアドル,...,ハンガリーフォリント,チェココロナ,ポーランドズロチ,ロシアルーブル,トルコリラ,インドネシアルピア.1,中国人民元.1,マレーシアリンギ.1,韓国ウォン.1,台湾ドル
0,NaN,USD,GBP,EUR,CAD,CHF,SEK,DKK,NOK,AUD,...,HUF,CZK,PLN,RUB,TRY,IDR(100),CNY,MYR,KRW(100),TWD
1,2002/4/30,131.15,189.01,115.97,82.83,79.13,12.73,15.61,15.2,70.24,...,*****,*****,*****,NaN,NaN,1.39,15.84,*****,9.99,3.77
2,2002/5/31,126.44,184.56,115.88,81.58,79.6,12.57,15.59,15.43,69.58,...,*****,*****,*****,NaN,NaN,1.41,15.28,*****,10.1,3.68
3,2002/6/28,123.53,183,117.83,80.64,80.09,12.94,15.86,15.92,70.29,...,*****,*****,*****,NaN,NaN,1.44,14.93,*****,10.2,3.66
4,2002/7/31,118.05,183.64,117.23,76.52,80.16,12.67,15.79,15.83,65.42,...,*****,*****,*****,NaN,NaN,1.34,14.26,*****,9.98,3.56

In [4]:
data.shape

(222, 37)

In [5]:
data.columns

Index(['Unnamed: 0', '米ドル', '英ポンド', 'ユーロ', 'カナダドル', 'スイスフラン', 'スウェーデンクローネ',
       'デンマーククローネ', 'ノルウェークローネ', 'オーストラリアドル', 'ニュージーランドドル', '南アフリカランド',
       'バーレーンディナール', 'インドネシアルピア', '中国人民元', '香港ドル', 'インドルピー', 'マレーシアリンギ',
       'フィリピンペソ', 'シンガポールドル', '韓国ウォン', 'タイバーツ', 'クウェートディナール', 'サウジアラビアリアル',
       'UAEディルハム', 'メキシコペソ', 'パプアニューギニアキナ', 'ハンガリーフォリント', 'チェココロナ', 'ポーランドズロチ',
       'ロシアルーブル', 'トルコリラ', 'インドネシアルピア.1', '中国人民元.1', 'マレーシアリンギ.1', '韓国ウォン.1',
       '台湾ドル'],
      dtype='object')